
@{
    ViewBag.Title = "Iletisim";
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section id="content">
    <div class="map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d391768.35544967937!2d32.482565639289184!3d39.90356621811942!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d347d520732db1%3A0xbdc57b0c0842b8d!2sAnkara!5e0!3m2!1str!2str!4v1622845527121!5m2!1str!2str" width="100%" height="380" style="border:0;" allowfullscreen></iframe>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h4>Formu Göndererek <strong>bize ulaşabilirsiniz</strong></h4>

                <div class="alert alert-info">@ViewBag.Uyari</div>
                
                <form action="/Home/Iletisim/" method="post" role="form" class="contactForm">
                    <div class="form-group">
                        <input type="text" name="adsoyad" class="form-control" id="name" placeholder="Ad Soyad" data-rule="minlen:4" data-msg="lütfen en az 4 karaker giriniz" />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Mail" data-rule="email" required />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="konu" id="subject" placeholder="Konu" data-rule="minlen:4" required />
                        <div class="validation"></div>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" name="mesaj" rows="5" data-rule="required" required placeholder="Mesaj"></textarea>
                        <div class="validation"></div>
                    </div>

                    <div class="text-center"><button type="submit" class="btn btn-theme">Gönder</button></div>
                </form>
            </div>
        </div>
    </div>
</section>


